@charset "UTF-8";
// 相邻按钮
.ant-btn + .ant-btn {
  margin-left: 10px;
}
// 相邻超链接
a + a {
  margin-left: 10px;
}
// layout-header
.ant-layout-header {
  height: 50px !important;
  line-height: 50px !important;
}
// 隐藏左侧菜单边缘线条
.ant-menu-inline {
  border-inline-end-color: transparent !important;
}
// 去除 tabs 栏底部线条
.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
  border-bottom: none;
}