@charset "UTF-8";
// ===============================
// 对浏览器默认、第三方UI库等的覆盖样式
// ===============================
// 相邻按钮
.ant-btn + .ant-btn {
  margin-left: 10px;
}
// 相邻超链接
a + a {
  margin-left: 10px;
}
// layout-header
.ant-layout-header {
  height: 50px !important;
  line-height: 50px !important;
}
// 隐藏左侧菜单边缘线条
.ant-menu-inline {
  border-inline-end-color: transparent !important;
}
// 去除 tabs 栏底部线条
.ant-tabs-card >.ant-tabs-nav .ant-tabs-tab {
  border-bottom: none;
}
// 解决 ant-design-vue div.aria-hidden 报错
div[aria-hidden=true] { display: none !important; }
// 顶部菜单间隔太大，从 16px 缩小为 6px
.ant-menu-horizontal .ant-menu-item {
  padding-inline: 10px;
}
// 调整横向菜单底部的高亮条宽度
.ant-menu-light.ant-menu-horizontal >.ant-menu-item::after {
  left: 5px;
  right: 5px;
}