// ============
// 用户自定义样式
// ============
* {
  transition: background-color 0.3s;
}

// 左右滑动淡入淡出动画
.slide-fade-enter-active, .slide-fade-leave-active {
  transition: all 0.3s ease-out;
}
.slide-fade-enter-from, .slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

// 上下展开收起动画
.expand-enter-active, .expand-leave-active {
  transition: all 0.2s ease-out;
  overflow: hidden;
  transform-origin: 0 0;
  max-height: 800px;
}
.expand-enter-from, .expand-leave-to {
  transform: scaleY(0);
  transform-origin: 0 0;
  opacity: 0;
  max-height: 0;
}
@keyframes theme-transition {
  0% { --percent: 0% }
  10% { --percent: 10% }
  20% { --percent: 20% }
  30% { --percent: 30% }
  40% { --percent: 40% }
  50% { --percent: 50% }
  60% { --percent: 60% }
  70% { --percent: 70% }
  80% { --percent: 80% }
  90% { --percent: 90% }
  100% { --percent: 100% }
}
